.div{
   margin: 0 130px;
}
.header{
    padding-top: 100px;
}

.our{
    display: flex;
    align-items: center;
    grid-gap: 27px;
}
.ourH3{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 450;
    font-size: 63.66px;
    line-height: 110px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.line{
    width: 0;
	height: 0;
	border-top: 1px solid transparent;
	border-left: 250px solid #FFFFFF;
	border-bottom: 1px solid transparent;
}
.headcont{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: #CFA550;
    margin: 0;
}
.h3{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50.6px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-top: 120px;
}
.p{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}
