

.App {
    
}
a{
    color: #A7A5A6 !important;
}
.active{
    color: #CFA550 !important;
    cursor: default;
}
.nav{
    padding: 0 !important;
}
.dropdown{
    padding: 0 !important;
}
.dropdown:active{
    color: #CFA550 !important;
    cursor: default;
}
.dropdown-menu{
    background: url(./img/Background.png) !important;
}
.dropdown-item:hover{
    color: #CFA550 !important;
    background: #A7A5A6 !important;
}
.dropdown-item:active{
    color: #CFA550 !important;
    cursor: default;
}
.dropdown-toggle{
    padding: 0 !important;
}
.dropdown-toggle:active{
    color: #CFA550 !important;
    cursor: default;
}
